{{ header }}

{{ content_top }}
<section class="section section_bottom">
  <div class="section-border">
    <div class="container container-fluid">
      <h1 class="think"></h1>
      {{ content_middle }}
    </div>
  </div>

  <div class="section-border section-border_grey">
    <div class="container container-fluid">
      {{ content_bottom }}
    </div>
  </div>

</section>


{{ footer }}