<a href="{{ cart }}" class="header-cart" id="cart">
  <span class="icon-shopping-cart"></span>
  <div class="header-cart__info">{{ text_cart_total_products }} <span id="total-items">{{ total_items }}</span></div>
  <div class="header-cart__info">{{ text_cart_total_currency }} <span id="total-cart">{{ total_cart }}</span></div>
</a>