{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-google-business-data" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-google-business-data" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="google_business_data_status" id="input-status" class="form-control">
                {% if (google_business_data_status) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-file"><span data-toggle="tooltip" data-html="true" title="{{ help_file|escape }}">{{ entry_file }}</span></label>
            <div class="col-sm-10">
              <select name="google_business_data_file" id="input-file" class="form-control">
                {% if (google_business_data_file) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="google-business-data-sold-out">{{ entry_google_business_data_sold_out }}</label>
            <div class="col-sm-10">
              <select name="google_business_data_sold_out" id="google-business-data-sold-out" class="form-control">
                {% if (google_business_data_sold_out) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="google-business-data-description">{{ entry_google_business_data_description }}</label>
            <div class="col-sm-10">
              <select name="google_business_data_description" id="google-business-data-description" class="form-control">
                {% if (google_business_data_description) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="google-business-data-description-html">{{ entry_google_business_data_description_html }}</label>
            <div class="col-sm-10">
              <select name="google_business_data_description_html" id="google-business-data-description-html" class="form-control">
                {% if (google_business_data_description_html) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
          <div class="form-group">
			<label class="col-sm-2 control-label" for="input-data-feed"><span data-toggle="tooltip" data-html="true" title="{{ help_data_feed|escape }}">{{ entry_data_feed }}</span></label>
            <div class="col-sm-10">
              <textarea rows="5" id="input-data-feed" class="form-control" readonly>{{ data_feed }}</textarea>
            </div>
          </div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label" for="google-business-data-feed-id1"><span data-toggle="tooltip" data-html="true" title="{{ help_google_business_data_feed_id1|escape }}">{{ entry_google_business_data_feed_id1 }}</span></label>
				<div class="col-sm-10">
					<select name="google_business_data_feed_id1" id="feed-business-data-id1" class="form-control">
                      {% if (google_business_data_feed_id1 == 'model') %} 
						<option value="model" selected="selected">{{ 'model' }}</option>
						<option value="product_id">{{ 'product_id' }}</option>
                      {% else %} 
						<option value="product_id" selected="selected">{{ 'product_id' }}</option>
						<option value="model">{{ 'model' }}</option>
                      {% endif %} 
					</select>
				</div>
			</div>
                <div class="form-group">
					<label class="col-sm-2 control-label" for="business-data-id2"><span data-toggle="tooltip" data-html="true" title="{{ help_google_business_data_feed_id2|escape }}">{{ entry_google_business_data_feed_id2 }}</span></label>
                  <div class="col-sm-10">
                    <select name="google_business_data_feed_id2" id="business-data-id2" class="form-control">
                      {% if (google_business_data_feed_id2 == '') %} 
                      <option value="" selected="selected">{{ '' }}</option>
                      <option value="model">{{ 'model' }}</option>
		      <option value="product_id">{{ 'product_id' }}</option>
                      {% elseif (google_business_data_feed_id2 == 'model') %} 
		      <option value="">{{ '' }}</option>
                      <option value="model" selected="selected">{{ 'model' }}</option>
                      <option value="product_id">{{ 'product_id' }}</option>
                      {% else %} 
		      <option value="">{{ '' }}</option>
                      <option value="model">{{ 'model' }}</option>
                      <option value="product_id" selected="selected">{{ 'product_id' }}</option>
                      {% endif %} 
                    </select>
                  </div>
			</div>
					
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="google-business-data-use-taxes"><span data-toggle="tooltip" data-html="true" title="{{ help_google_business_data_use_taxes|escape }}">{{ entry_google_business_data_use_taxes }}</span></label>
            <div class="col-sm-10">
              <select name="google_business_data_use_taxes" id="google-business-data-use-taxes" class="form-control">
                {% if (google_business_data_use_taxes == 1) %} 
				<option value="0">{{ text_default }}</option>
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="2">{{ text_disabled }}</option>
				  {% elseif (google_business_data_use_taxes == 2) %} 
				 <option value="0">{{ text_default }}</option> 
                <option value="1">{{ text_enabled }}</option>
                <option value="2" selected="selected">{{ text_disabled }}</option>
                {% else %} 
				<option value="0" selected="selected">{{ text_default }}</option> 
                <option value="1">{{ text_enabled }}</option>
                <option value="2">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
					  
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }} 
